body{
    color: ghostwhite;
}
 input{
    width:100%;
    border: none;
    color: #222222;
    padding-top: 20px;
    border-bottom: #0c5460 1px solid;
    margin-bottom: 20px;
     border-radius: 3px;
}


textarea{
    resize: none;

}

.email-info{
    padding-bottom: 20px;
}

.img-fluid{
    border: none;
    width: 20%;
    background-color: none;
}

.map{
    width:80%
}


#buttonform{
    margin-bottom: 10vmax;
}

body{
    background-image: url("../img/bg-1.jpg");
    background-size: 40%;
    background-position: center bottom;
}
.row{

    padding: 0;
    align-content: center;
}

.part1, .part2{
    background-color: #3a3030;
    opacity: 0.95;
    padding: 5vw 5vw 0 5vw;

}



