
 input{
    width:100%;
    border: none;
    color: gray;
    padding-top: 20px;
    border-bottom: #0c5460 1px solid;
    margin-bottom: 20px;
}


textarea{
    resize: none;

}

.email-info{
    padding-bottom: 20px;
}

.img-fluid{
    border: none;
    width: 10%;
}

.map{
    width:80%
}


#buttonform{
    margin-bottom: 10vmax;
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}
.row{

    padding: 0;
    align-content: center;
}

.part1, .part2{
    background-color: white;
    padding: 5vw 5vw 0 5vw;

}



