
body{
    background-image: url("../img/bg-1.jpg");
    background-size: 40%;
    background-position: center bottom;

}

.bgcontainer {
    background-color: #3a3030;
    opacity: 0.95;

}




.step1box p , h2 {
   color: whitesmoke;
    font-weight: bold;
}



.step {
    text-align: left;
padding-right: 2vmax;
}

.steptitle {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: fit-content;

}

.stepalign {
}

.stepInfo {
color: whitesmoke;
}

.stepcount {
    color: #b69c7c;
}

.stepdirection {
    color: #fff5c3;
    margin-bottom: 50px;
}





.row img {
    padding: 10px;
}


.hover01 {
    text-align: center;
    overflow: hidden;

}
.hover01 label {
    color: #fff5c3
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}




.carousel-inner img {
    margin: auto;
}


#carouselExampleControls {
    margin: auto;
}

.submitbutton {
    text-align: center;
}

.carouselInfo{
    color: ghostwhite;
}


.hover12 figure {
    background: #1abc9c;
}

.buttonChange input { display: none; }
.buttonChange .seatButton { padding: 5px; border: 3px solid #ccc; }
.buttonChange input:checked + .seatButton { background: #740716; }



a:visited {
    border: black 20px solid ;
}

