
form{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color:rgb(43, 33, 33);opacity:0.8;
    padding: 30px;
    text-align: center;
    border: 5px solid #fff9e7;
    
    
}

body{
  background-image: url("../img/bg-1.jpg");
    background-size: 40%;
    background-position: center bottom;

}

#signn{
 
  margin-top: -15px;
  
  
  


}