
form{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #2b2121;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
}

body{
  background-image: url("../img/background.jpg");
    background-size: 30%;


}