body{
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.titleRed{
color: darkred;
font-weight: bolder;

    padding-right: 10vmax;


}

.navbar-toggler{
    border:none;
}

.navbar{
    margin-bottom: 3vmax;
    background-color: black;!important;
}

.navbar-custom {
    background-color: #222222;
  color: white;
}

#carousel{
    margin-top: -3vmax;
}

.btn{
   background-color: #740716;
    color:white;

}

.btn:hover{
    background-color: white;
    border-color: #74061c 1px solid;
    color: #740716;
}

.italicfont{
    font-style: italic;
}

.title{
    font-weight: bolder;
    font-size: xx-large;
}

footer{
    background-color: #222222;
    color: ghostwhite;

}

p{

    font-family: 'Montserrat', sans-serif;

}