
#step1box{
    background-color: #c1d1e8;
}

.step {
    text-align: left;
padding-right: 2vmax;
}

#lootlist .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px 0 50px;
    margin: auto  ;
}



.row img {
    padding: 10px;
}

.imgxt {
    text-align: center;
}

#movierow {

    width: 70%;
    margin-left: 30px;
}

#snackrow {
    margin-top: 30px;
    width: 70%;
    margin-left: 30px;
}

#hobbyrow {
    margin-top: 30px;
    width: 70%;
    margin-left: 30px;
}


label {
    color: #f5ffb1;
}