
.navbar-brand{
    text-align: center;
 color: white;

}

.nav-link{


    color: white;
    margin-right:  40px;
    margin-left: 40px;

}

nav{
    background-color: black;

}

.navbar-nav{

   margin-left: auto;
    margin-right: auto;


}

.navbar-toggler{
    color: red;
    background-color: red;
}
.login{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 border: 1px solid black;

}