

form{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    text-align: center;
}

body{
  background-image: url("lb2.jpg");
    background-size: 30%;


}