body{
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.titleRed{
color: #740013;
font-weight: bolder;
}

.navbar-toggler{
    border:none;
}

nav{
    margin-bottom: 3vmax;
}

#carousel{
    margin-top: -3vmax;
}

.btn{
   background-color: #0f6674;
    color:white;

}

.btn:hover{
    background-color: white;
    border-color: #0f6674 1px solid;
    color: #0f6674;
}

p{
    padding-top: 2vmax;
    padding-bottom: 2vmax;
}