
.container2{
    max-width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    margin-top: -3vmax;
    padding: 0;

}
.parallax {
  background: url("lb.jpg");
    background-size: 50%;
    background-attachment: fixed;
    height:400px;



}
#information{

    color: seashell;
    width: 100%;
    text-align: center;
    padding: 25px;
    align-content: center;

    background-color: darkred;

}

h1{
    font-size: 500%;
    color: white;
    padding-top: 12vmax;
}

.btn {
    background-color: darkred;
    color: white;
    border-color: black;
}
.btn:hover{
    background-color: gray;
    border-color: black;
    color: white;
}


.container{
    margin-top: 50px;
}
.wrapper{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}


.introtext{
    padding-left: 10vmax;
    padding-right: 10vmax;
}

.luckyboxtitle{
    padding-top: 5vmax;
}